@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&               family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(128, 6, 128);
  color: white;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Roboto", serif;
}

nav ul {
  list-style-type: none;
}

.GameContainer {
 /* background-color: crimson;*/
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  /*background-color: darkcyan;*/
  font-family: "Roboto", serif;
  position:relative;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(238, 253, 253);
}
.info 
{
  font-size:22px;
}
.GameInfo {
  padding: 0 34px;
  font-family: "Baloo Bhaina 2", serif;
}
.GameInfo h1 
{
  font-size:2.5rem;
}
.imgBox img {
  width: 0;
  transition:width 1s ease-in-out;

}

.bt-0 {
  border-top: 0;
}

.bl-0 {
  border-left: 0;
}

.br-0 {
  border-right: 0;
}

.bb-0 {
  border-bottom: 0;
}
#reset 
{
  margin:0 23px;
  padding:1px 18px;
  background:#f3e7f9;
  border-radius:6px;
  cursor:pointer;
  font-family:"Baloo Bhaina 2", serif;
  font-size:15px;
  font-weight:bolder;
}
.line 
{
  background-color:black;
  height:3px;
  position:absolute;
  width:0;
  transition:width 1s ease-in-out;
}
@media screen and (max-width:800px)
{
  .GameContainer 
  {
    flex-wrap:wrap;
  }
  .GameInfo 
  {
    margin-top:34px;
  }
  .GameInfo h1 
  {
    font-size:1.5rem;
  }
  .container 
  {
    grid-template-rows: repeat(3,20vw);
    grid-template-columns: repeat(3,20vw);
  }
}