* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  
  body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    background: white;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #question {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .answer-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .answer-buttons button {
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .answer-buttons button:hover {
    background-color: #0056b3;
  }
  
  #next-button {
    background: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px;
    margin-top: 20px;
  }
  
  #next-button:hover {
    background: #218838;
  }
  
  .hide {
    display: none;
  }